body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.gradientBackground {
  background: linear-gradient(135deg, #FFD700, #FF6347); /* Defina suas cores e ângulo */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundImage {
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/6891142-abstrato-gradiente-fundo-claro-roxo-e-verde-perfeito-para-design-papel-de-parede-promocao-apresentacao-website-banner-etc-illustration-background-vetor.jpg'); /* Substitua pelo caminho da sua imagem */
  /* background-image: url('https://get.wallhere.com/photo/Apple-Computer-abstract-colorful-Apple-Pro-Display-XDR-1763903.jpg');  */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none; /* Remove a borda de foco */
}
input::placeholder {
  color: white; /* Defina a cor desejada para o placeholder */
}